/* inline: não quebra de linha, largura mínima do elemento, aceita apenas margem e preenchimento horizontal */
.inline {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* block: quebra de linha, largura máxima do elemento, aceita margem e preenchimento horizontal e vertical */
.block {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/* inline-block: não quebra linha, */
.inline-block {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
}